In [2]:
!wget -q -O 'Toronto.html' https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
print('Data downloaded!')

Data downloaded!

Downloaded data and import to DataFrame

In [3]:
import pandas as pd

tables = pd.read_html('Toronto.html', header=0)

headings = ['Postcode', 'Borough', 'Neighbourhood']
for table in tables:
    current_headings = table.columns.values[:3]
    if list(current_headings) == headings:
        break

Create dataframe for listed headings

In [5]:
dt_toronto = table[headings]
dt_toronto.shape

(287, 3)

In [6]:
dt_toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Remove "Not assigned" Borough

In [9]:
dt_toronto=dt_toronto[dt_toronto.Borough != "Not assigned"]

In [11]:
dt_toronto.shape
dt_toronto.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Group by postcode for Neighbourhood

In [42]:
dt_toronto=dt_toronto.groupby(['Postcode','Borough'])['Neighbourhood'].agg(lambda x: ', '.join(set(x))).reset_index()
dt_toronto.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Port Union, Highland Creek, Rouge Hill
2      M1E  Scarborough       Guildwood, West Hill, Morningside
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [43]:
dt_toronto.shape

(103, 3)